<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-2/4 mx-auto mt-32">
    <table class="w-full text-lg text-left text-white bg-cyan-400">
        <thead class="text-lg text-white uppercase bg-cyan-400">
            <tr>
                <th scope="col" class="px-6 py-6">
                    Product name
                </th>
                <th scope="col" class="px-6 py-6">
                    Category
                </th>
                <th scope="col" class="px-6 py-6">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            <% @products_order.each do |product| %>
                <%= render partial:'layouts/cart_product', locals: { product: product } %>
            <% end %>
        </tbody>
    </table>
    <%= button_to 'Order', create_order_path(:id), method: :post %>
</div>
