<div class="max-w-5xl mx-auto">
  <% @category.products.each do |product| %>
    <div class="product-card">
      <p class="card-text"><%= product.name %> </p>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text"><%= product.price %><p>
      <%= button_to "Buy", add_product_to_cart_path(product), class: "w-28 btn-pink bg-pink-500" %>
    </div>
  <% end %>
</div>
