<div class="max-w-7xl mx-auto">
  <%= image_tag 'banner.jpg', class: "w-full" %>
  <% @products.each do |product| %>
    <div class="product-card">
      <%= render 'products/product',  product: product  %>
    </div>
  <% end %>
</div>
