<div class="big-center-card">
	<div class="text-5xl pb-5"><%= @product.name %></div>
	<div class="text-2xl pb-5">Category: <%= @product.category.name %></div>
	<div class="text-xl pb-12">Description: <%= @product.description %></div>
	<%= button_to 'Buy', add_product_cart_path, method: :post, class: "btn-pink bg-pink-500 w-32 mt-6" %>
</div>
