
  <p class="card-text"><%= product.name %></p>
  <p class="card-text"><%= product.description %></p>
  <p class="card-text"><%= product.price %><p>

  <%= link_to "Show", product, class: "btn-pink mt-6" %>
