
  <p class="py-2.5 text-xl font-bold w-4/5 mx-auto"><%= product.name %></p>
  <p class="py-2.5 font-normal text-gray-700"><%= product.description %></p>
  <p class="py-2.5 text-xl font-bold"><%= product.price %><p>

  <%= link_to "Show", product, class: "btn-pink" %>
